@import "tailwind.css";

:root {
  /* Paleta KODA MAKER */
  --background: #ffffff;
  --foreground: #09090b;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --accent: #f13d4b; /* El rojo de Koda */
  --accent-foreground: #ffffff;
  --card: #ffffff;
  --border: #f4f4f5;
}

@layer base {
  body {
    /* Evita el rebote del scroll en móviles */
    overscroll-behavior-y: none;
    /* Evita el resaltado azul al tocar */
    -webkit-tap-highlight-color: transparent;
    /* Evita selección de texto en botones/menús para que parezca App */
    user-select: none;
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Permitir selección solo en campos de texto */
  input, textarea, [contenteditable="true"] {
    user-select: text !important;
  }
}

/* Ocultar scrollbars pero mantener funcionalidad */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}