@import "tailwindcss";

@theme {
  --color-accent: #f13d4b;
  --color-accent-foreground: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

@layer base {
  body {
    /* Evita el rebote del scroll en móviles */
    overscroll-behavior-y: none;
    /* Evita el resaltado azul al tocar */
    -webkit-tap-highlight-color: transparent;
    /* Evita selección de texto en botones para que parezca App */
    user-select: none;
    background-color: white;
    color: black;
  }

  /* Permitir selección solo en campos de texto */
  input, textarea, [contenteditable="true"] {
    user-select: text !important;
  }
}

/* Utilidad para ocultar scrollbars */
@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}